body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: white;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: darkslategray;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: black;
color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: white;
color: black;
}

.logo{
  background-color: white;
}

.logo1{
  font-size: 40px;
  font-weight: bolder;
  color: black;
}

.logo2{
  font-size: 20px;
  font-weight: lighter;
  color: grey;
}